@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

:root {
    --roxo: #8e2de2;
    --rosa: #b55ba1;
    --violeta: #a76b9f;
    --amarelo: #ffd700;
    --amarelo-claro: #ffea70;
    --preto: #333333;
    --cinza: #f3f3f3;
    --branco: #ffffff;
    --roxo-escuro: #6d1f7b;
    --gradiente: linear-gradient(135deg, #8e2de2, #b55ba1);
  }
  
body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--cinza);
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: var(--preto);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  border: none;
}

.fundo {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background: var(--gradiente);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 5%;
  background: var(--gradiente);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.logo h1 {
  color: var(--branco);
  font-size: 1.5rem;
  font-weight: 200;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}
.logo span {
  color: var(--amarelo);
}

.cabecalho_link {
  display: flex;
  gap: 1.5rem;
}

.cabecalho_link a {
  margin-top: 8px;
  color: var(--branco);
  font-weight: 600;
  transition: color 0.3s ease, transform 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.1rem;
}

.cabecalho_link a:hover {
  color: var(--amarelo-claro);
  transform: scale(1.1);
}

.cabecalho_link li button {
  background-color: var(--roxo);
  color: var(--branco);
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border: none;
  width: 100%;
  font-size: 1rem;
}

.cabecalho_link li button:hover {
  color: var(--amarelo-claro);
}

main {
  padding: 2rem 5%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  
}

.curriculos-disponiveis {
  background-color: var(--branco);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 2rem;
}

.curriculos-disponiveis h2 {
  text-align: center;
  color: var(--preto);
  margin-bottom: 1rem;
  font-weight: 600;
}

table.usuarios {
  width: 100%;
  border-collapse: collapse;
  background-color: var(--cinza);
  border-radius: 8px;
  overflow: hidden;
}

.usuarios th, .usuarios td {
  padding: 12px 15px;
  text-align: left;
}

.usuarios th {
  background-color: var(--roxo);
  color: var(--branco);
  font-weight: 600;
}

.usuarios tr:nth-child(even) {
  background-color: var(--cinza);
}

.usuarios tr:hover {
  background-color: var(--violeta);
  color: var(--branco);
}

.usuarios td button {
  background-color: var(--roxo-escuro);
  color: var(--branco);
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.usuarios td button:hover {
  background-color: var(--roxo);
  color: var(--amarelo-claro);
}

.usuarios td i {
  font-size: 1.2rem;
}