:root {
  --roxo: #8e2de2;
  --rosa: #b55ba1;
  --violeta: #a76b9f;
  --amarelo: #ffd700;
  --amarelo-claro: #ffea70;
  --preto: #333333;
  --cinza: #f3f3f3;
  --branco: #ffffff;
  --roxo-escuro: #6d1f7b;
  --gradiente: linear-gradient(135deg, #8e2de2, #b55ba1);
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--cinza);
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: var(--preto);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  border: none;
}

.fundo {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background: var(--gradiente);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 5% 1rem 2%;
  background: var(--gradiente);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.logo img {
  width: 3.5rem;
}

.cabecalho_link {
  display: flex;
  gap: 1.5rem;
}

.cabecalho_link a {
  color: var(--branco);
  font-weight: 600;
  transition: color 0.3s ease, transform 0.3s ease;
  font-size: 1.5rem;
}

.cabecalho_link a:hover {
  color: var(--amarelo-claro);
  transform: scale(1.1);
}


.meio {
  flex-grow: 1;
  padding: 4rem 2rem;
  background-color: var(--branco);
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
  margin: 5rem auto;
  width: 80%;
  max-width: 1200px;
  text-align: center;
}

.meio h1 {
  font-size: 3rem;
  margin-bottom: 2rem;
  color: var(--roxo);
  font-weight: 700;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}
.meio span {
    color: var(--amarelo);
}

.meio p {
  text-indent: 50px;
  font-size: 1.2rem;
  color: var(--preto);
  line-height: 1.5;
  max-width: 800px;
  margin: 0 auto;
  text-align: justify;
}

.meio .links {
  display: flex;
  flex-direction: line;
  justify-content: space-between;
  gap: 1rem;
  width: 100%;
  max-height: 400px;
  padding: 0 5%;
}

.meio .links .link-emp, .meio .links .link-usu  {
  display: flex;
  flex-direction: column;
  width: 45%;
  margin: 0;
  padding: 10px 40px;
}


.meio .links button {
  background-color: var(--roxo); 
  color: var(--branco); 
  font-weight: 600;
  font-size: 1.5rem;
  padding: 12px 20px;
  border-radius: 8px;
  cursor: pointer;
  width: 100%;
  margin-bottom: 20px;
  transition: background-color 0.3s ease, transform 0.3s ease;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.meio .links button:hover {
  background-color: var(--amarelo); 
}

.meio .links button a {
  color: var(--branco); 
  text-decoration: none;
}